{% extends "webapp/base_master_detail.html" %}

{% block ext_style %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'webapp/style/base.css' %}"/>
{% endblock ext_style %}


{% block cont_main %}

  <div ng-app="splitWiseAppView" ng-controller="SplitWiseAppView" ng-cloak>

    <div class="panel panel-success">

      <div class="panel-heading">
        <h4>Bill Properties</h4>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <label for="billTitle">Title</label>
          <input type="text" class="form-control" id="billTitle" ng-model="item.title">
        </div>
        <div class="form-group">
          <label for="billDesc">Description</label>
          <input type="text" class="form-control" id="billDesc" ng-model="item.desc">
        </div>
        <div class="form-group">
          <h3>Balance: {% verbatim %}{{ item.balance }}{% endverbatim %}</h3>
        </div>
      </div>

      <div class="panel-footer">
        <button class="btn btn-success" ng-click="onSubmitClicked()">Submit</button>
        <button class="btn btn-warning" ng-click="loadBill()">Reset</button>
      </div>

    </div>


    <div class="panel panel-success">

      <div class="panel-heading">
        <h4>Payments</h4>
      </div>

      <div class="panel-body">
        <table class="table table-bordered">

          <thead>
          <tr>
            <th>Paid by user</th>
            <th>Amount</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="payment in payments">
            <td>
              <select class="selectpicker form-control" ng-model="payment.paid_by.username">
                <option data-key="" ng-repeat="user in userOptions">{% verbatim %}{{ user.username }}{% endverbatim %}
                </option>
              </select>
            </td>
            <td>
              <input type="text" ng-model="payment.amount">
            </td>
          </tr>

          <tr>
            <td>
              <select class="selectpicker form-control" ng-model="newPaymentUsername">
                <option data-key="" ng-repeat="user in userOptions">{% verbatim %}{{ user.username }}{% endverbatim %}
                </option>
              </select>
            </td>
            <td>
              <input type="text" ng-model="newPaymentAmount">
            </td>
          </tr>
          </tbody>

        </table>
      </div>

      <div class="panel-footer">
        <button class="btn btn-primary" ng-click="onSavePaymentsClick()">Save Payment Changes</button>
        <button class="btn btn-success" ng-click="onNewPayerClick()">New Payment</button>
      </div>

    </div>


    <div class="panel panel-success">

      <div class="panel-heading">
        <h4>Debts</h4>
      </div>

      <div class="panel-body">
        <table class="table table-bordered">

          <thead>
          <tr>
            <th>Debt of user</th>
            <th>Amount</th>
          </tr>
          </thead>

          <tbody>
          <tr ng-repeat="debt in debts">
            <td>
              <select class="selectpicker form-control" ng-model="debt.owed_by.username">
                <option data-key="" ng-repeat="user in userOptions">{% verbatim %}{{ user.username }}{% endverbatim %}
                </option>
              </select>
            </td>
            <td>
              <input type="text" ng-model="debt.amount">
            </td>
          </tr>

          <tr>
            <td>
              <select class="selectpicker form-control" ng-model="newDebtUsername">
                <option data-key="" ng-repeat="user in userOptions">{% verbatim %}{{ user.username }}{% endverbatim %}
                </option>
              </select>
            </td>
            <td>
              <input type="text" ng-model="newDebtAmount">
            </td>
          </tr>
          </tbody>

        </table>
      </div>

      <div class="panel-footer">
        <button class="btn btn-primary" ng-click="onSaveDebtsClick()">Save Debt Changes</button>
        <button class="btn btn-success" ng-click="onNewDebtClick()">New Debt</button>
      </div>

    </div>

  </div>

{% endblock cont_main %}


{% block ext_script %}
  {% load static %}
  <script src="{% static 'webapp/script/dashboard_view.js' %}"></script>
{% endblock ext_script %}