<div id="modalViewBill" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">View Bill</h4>
      </div>
      <div class="modal-body">

        {% verbatim %}
        <div class="alert-danger" ng-show="addNewBillError.error">
          <p>
            {{ addNewBillError.error }}
          </p>
        </div>
        {% endverbatim %}

        <div class="well">
          <div class="form-horizontal">

            <div class="form-group">
              <label for="inputBillTitle">Title</label>
              <input type="text" class="form-control" id="inputBillTitle" placeholder="title"
                     ng-model="viewBill.title" readonly>
            </div>

            <div class="form-group">
              <label for="inputBillDesc">Desc</label>
              <input type="text" class="form-control" id="inputBillDesc" placeholder="description"
                     ng-model="viewBill.desc" readonly>
            </div>

            <div class="form-group">
              <label for="inputBillAmount">Amount</label>
              <input type="text" class="form-control" id="inputBillAmount" placeholder="amount"
                     ng-model="viewBill.amount" readonly>
            </div>

            {% verbatim %}
            <div class="form-group">
              <label for="inputBillPayments">Payments ({{ viewBill.paid_sum }})</label>
              <div class="list-group" id="inputBillPayments">
                <div class="list-group-item" ng-repeat="pay in viewBill.payments">
                  <span class="user-username">{{ pay.paid_by.username }}</span> paid <span class="amount-paid">{{ pay.amount }}</span>
                </div>
              </div>
            </div>
            {% endverbatim %}

            {% verbatim %}
            <div class="form-group">
              <label for="inputBillDebts">Debts ({{ viewBill.owed_sum }})</label>
              <div class="list-group" id="inputBillDebts">
                <div class="list-group-item" ng-repeat="debt in viewBill.debts">
                  <span class="user-username">{{ debt.owed_by.username }}</span> owes <span class="amount-owed">{{ debt.amount }}</span>
                </div>
              </div>
            </div>
            {% endverbatim %}

          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>